header {
    color: rgb(0, 0, 0);
    margin-top: -8px;
    width: 100%;
    display: inline;
    border: 1px solid rgb(76, 255, 76);
}

.clase1 {
    display: inline;
    margin-left: 0px;

    width: 50%;
}

.clase2 {
    display: inline;
    background-color: aliceblue;
    position: fixed;
    width: 100%;
}

.as {

    text-align: left;
    width: 40px;
}

section {
    position: static;
    margin-left: 20px;
    margin-top: 550px;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;

}

.cont {

    border: 1px solid rgb(255, 255, 255);
    margin: 10%;
    /*display: inline;*/
    max-width: 20%;

}

.img {
    margin-left: 10px;
    width: 25%;
    display: inline;

}

.der {
    text-align: right;
}

.fto {
    text-align: center;
    width: 100%;
}

/**/
.pracnt {
    background: #1fce45;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contndr {
    display: flex;
    width: 25%;
}

.contndr {
    display: flex;
    width: 25%;
}

.contndr {
    display: flex;
    width: 25%;
}

.contndr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contndr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contndr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contndr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.pracnt {
    background: #1fce45;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contndr {
    display: flex;
    width: 25%;
}

.contndr {
    display: flex;
    width: 25%;
}

.contndr {
    display: flex;
    width: 25%;
}

.contndr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contndr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contndr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contndr {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}